body {
  margin: 0;
  font-family: 'Inter';
  src: local('Inter'), url(./assets/fonts/Inter-VariableFont_slnt\,wght.ttf) format('truetype');
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
